
.App {
  max-width:393px;
  max-height: 852px;
  /* background-color: black; */
}
.background {
  background-image: url("./resources/images/bg.png");
  background-repeat: no-repeat;
  width: 393px;
  height: 852px;
}
.crop{
    background-size: 175%;
}
.title-box {
  font-family: "Porter Sans Block";
  width: 452px;
  height: 252px;
  top: 0px;
  right: -452px;
  background: #0058fd;
  border-radius: 20px;
  animation: slideIn 1s ease-in 1s forwards;
}
@keyframes slideIn
{
    0%{
        top: 0px;
        right: -452px;
        
    }
    100%{
        top: 184px; 
        right: calc(50% - 452px / 2);
        
    }
}
.play-box{
    width: 197px;
    height: 75px;
    bottom: 0;
    left: -197px;
    background: #0058FD;
    border-radius: 20px;
    font-family: 'Seymour One';
    color: #FFFFFF;
    animation: slideRight 1s ease-in 2s forwards;
}
@keyframes slideRight{
    0%{
        left: -197px;
        bottom: 0px;
    }
    100%{
        left: calc(50% - 197px / 2);
        bottom: 75px;
    }
}


.dashed-line{
    position: absolute;
    width: 49%;
    height: 0px;
    top: 541px;
    border: 7.5px dashed #FFEA00;
}
.hide{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.visible{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.pacman{
    
}


