.dashed-line{
    position: absolute;
    width: 49%;
    height: 0px;
    top: 541px;
    border: 7.5px dashed #FFEA00;
}
.hide{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.visible{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}



