@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Porter Sans Block";
    src: url("/fonts/porter-sans/porter-sans-inline-block.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}